$primary: #A18A68;
$secondary: #707070;
$dark: #364F6B;
$light: #F0F0F0;
$success: rgb(19, 202, 50);
$info: #555;
$warning: rgb(255, 255, 0);
$danger: rgb(255, 0, 0);

$alert-padding-y: 0.4rem;
$alert-padding-x: 0.4rem;
$alert-margin-bottom: 0.5rem;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
